.clangd/
.ccls-cache/
.cache/
__pycache__/
.ccls-cache/
*.egg-info/
.eggs/
.ipynb_checkpoints/
build/
raw_data/
tmp/

*.sh
figures/
compile_commands.json
config/*/*.json
!config/default.json
datasets/hypergraphs/
