.clangd/
.ccls-cache/
.cache/
__pycache__/
.ccls-cache/
*.egg-info/
.eggs/
.ipynb_checkpoints/
build/
raw_data/
tmp/

*.sh
figures/*
!figures/README.md
compile_commands.json
config/observation-data
overleaf-article/
